#home-nav{
    height: 50px;
    width: 100%;
    background-color: rgb(175, 3, 3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#profilePic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.profile-icon{
    padding-right: 30px;
}